body {
  font-family: sans-serif;
}

code {
  color: #a4036f;
  padding: 4px 4px 3px;
  background: rgba(23, 42, 58, .06);
}

.match {
  color: green;
  padding: 4px 4px 3px;
  background: lightgreen;
}

.mismatch {
  color: firebrick;
  padding: 4px 4px 3px;
  background: lightcoral;
}
